<a href="https://colab.research.google.com/github/inessanew/sehenovuniversary/blob/main/homework_4_innaS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4 homework #1

In [ ]:
#task 1
print ('Hello, World')

Hello, World

In [ ]:
#task 2
print ('4 8 15 16 23 42 C')

4 8 15 16 23 42 C

In [ ]:
#task 3
print('*')
print('**')
print ('***')
print ('****')
print ('*****')
print ('******')

*
**
***
****
*****
******

In [ ]:
#task 4
print ('Отчёт о доходах')
print ('1 квартал: 1200000 руб.')
print ('2 квартал: 1350000 руб.')
print ('3 квартал: 1280000 руб.')
print ('4 квартал: 1420000 руб.')

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
#task 5
name_new = ("Влад")
print("Добро пожаловать в команду,", name_new)

Добро пожаловать в команду, Влад

In [ ]:
#task 6
company = "Praktika"
print(company, "— лидер рынка!")

Praktika — лидер рынка!

In [ ]:
#task 7
name_sales = input ()
N_k = input
N_s = input
name_sales = "Sales Q1"
N_k = 1000
N_s = 8
print(name_sales)
print(N_k)
print(N_s)

Sales Q1
1000
8

In [ ]:
#task 8
File_1 = input ()
File_2 = input
File_3 = input
File_1 = "Продажи за январь"
File_2 = "Продажи за февраль"
File_3 = "Продажи за март"
print (File_3)
print (File_2)
print (File_1)

Продажи за март
Продажи за февраль
Продажи за январь

In [ ]:
#task 9
base_price = 100
growth_persent = 20
new_price = base_price * (1 + growth_persent / 100)
delta = new_price - base_price
print ('new_price=', new_price)
print ('delta=', delta)

new_price= 120.0
delta= 20.0

In [ ]:
#task 10
print("Северный", end="***")
print("Центральный", end="***")
print("Южный")

Северный***Центральный***Южный

In [ ]:
#task 11
name_new = input()
name_new = "Влад"
print("Подключение установлено. Добро пожаловать,", end=" ")
print(name_new)

Подключение установлено. Добро пожаловать, Влад

In [ ]:
#task 12
r = input()
produkt_name_1 = input()
produkt_name_2 = input()
produkt_name_3 = input()
r = " | "
print(produkt_name_1, produkt_name_2, produkt_name_3, sep=r)

Молоко
Хлеб
Сыр
Молоко | Хлеб | Сыр

In [ ]:
#task 13
value_str = input()
value_str = "42.7"
a=float(value_str)
print("integer_part=", int(a))

integer_part= 42

In [ ]:
#task 14
orders_yesterday = int(input())
plan = int(input())
# orders_yesterday = 10
# plan = 20
a = abs(plan-orders_yesterday)
print("Абсолютное отклонение от плана равняется", a)

20
10
Абсолютное отклонение от плана равняется 10

In [86]:
#task 15
for i in range(5):
  print(i)
if 1 == i:
  print("Наименьшее число =", i)
elif i == 5:
  print("Наибольшее число =", i)

0
1
2
3
4

In [ ]:
#task 16
nm = input
nmf = input
nm = "Антон"
nmf = "Иванов"
print ("Привет,", nm + " "+ nmf+"! " "Вы только что начали изучать Python!")

Привет, Антон Иванов! Вы только что начали изучать Python!

In [ ]:
#task 17
part_1 = input
part_2 = input
part_3 = input
part_1, part_2, part_3 = '"Каждый в этой стране должен', 'научиться программировать,', 'потому что это учит думать."'
print(part_1+" "+ part_2 +" "+ part_3)

"Каждый в этой стране должен научиться программировать, потому что это учит думать."

In [ ]:
#theme18
bag = (input)
bag = 999
print( bag > 1000)

False

In [ ]:
#task 18
bag = int(input()) #999
print( bag > 1000)

999
False

In [ ]:
#task 19
ages = int(input('Введите ваш возраст:  '))
print( ages >= 18)

Введите ваш возраст:  16
False

In [ ]:
#task 20
V1 = 50
V2 = 70
S = 500
t = S/(V1+V2)
print(t)

4.166666666666667

In [ ]:
#them21
a = input
b = input
a = 443 #Длина первого катета
b = 390 #Длина второго катета
S = a*b/2
print(S)

86385.0

In [ ]:
#task 22
tF = float(input()) #450.55
tC = 5/9*(tF-32)
print(tC)

450.55
232.5277777777778

In [ ]:
#task 23
revenue = float(input()) #438746.78
courier_name = input('Имя курьера - ') #Антон
bonus = int(revenue/100)
print('Курьер', courier_name, 'получит бонус', bonus )

438746.78
Имя курьера - Антон
Курьер Антон получит бонус 4387

# Module 4 homework #2

In [104]:
#task 1
import pandas as pd
import numpy as np
parol = input('Введите пароль: ')
parol_1 = input('Введите подтверждение пароля: ')
if parol == "Qwerty" and parol_1 == "Qwerty":
    print('Пароль принят')
else:
     print('Пароль не принят ')

Введите пароль: qwerty
Введите подтверждение пароля: qwerty
Пароль не принят

In [2]:
#task 2
ages = int(input('Введите ваш возраст:  '))
if ages >= 18:
    print('Доступ разрешен ')
else:
     print('Доступ запрещен! ')

Введите ваш возраст:  13
Доступ запрещен!

In [3]:
#task 3
number_1 = int(input('Введите числo:  '))
number_2 = int(input('Введите числo:  '))
if number_1 > number_2:
    print('наименьшее из двух чисел: ', number_2)
if number_1 < number_2:
    print('наименьшее из двух чисел: ', number_1)

Введите числo:  5
Введите числo:  3
наименьшее из двух чисел:  3

In [10]:
#task4
import pandas as pd
import numpy as np
number_1 = int(input('Введите число 1: '))
number_2 = int(input('Введите число 2: '))
number_3 = int(input('Введите число 3: '))
if number_2 == number_1 + 2 and number_3 == number_2 + 2:
    print('Да, это арифметическая прогрессия')
else:
     print('Нет, это арифметическая прогрессия')

Введите число 1: 2
Введите число 2: 4
Введите число 3: 6
Да, это арифметическая прогрессия

In [12]:
# task4 Code for arithmetic progression
first_term = 2  # Первый член прогрессии
common_difference = 3  # Разность прогрессии
num_terms = 5  # Количество членов

print("Арифметическая прогрессия:")
for i in range(num_terms):
    term = first_term + i * common_difference
    print(term)

Арифметическая прогрессия:
2
5
8
11
14

In [16]:
#task5
sale = int(input('Введите число 1: '))
sale_1 = int(input('Введите число 2: '))
sale_2 = int(input('Введите число 3: '))
sum = sale + sale_1 + sale_2
if sum >= 0:
    print("Итого: ", sum)
else:
    print("Банкрот")

Введите число 1: -2
Введите число 2: -3
Введите число 3: -5
Банкрот

In [24]:
#task6
number_1 = int(input('Введите числo:  '))
number_2 = int(input('Введите числo:  '))
number_3 = int(input('Введите числo:  '))
number_4 = int(input('Введите числo:  '))
if number_1 < number_2 and number_1 < number_3 and number_1 < number_4:
    print('наименьшее : ', number_1)
elif number_2 < number_1 and number_2 < number_3 and number_2 < number_4:
    print('наименьшее : ', number_2)
elif number_3 < number_1 and number_3 < number_1 and number_3 < number_4:
    print('наименьшее : ', number_3)
elif number_4 < number_1 and number_4 < number_1 and number_4 < number_3:
    print('наименьшее : ', number_4)
else:
     print('н')

Введите числo:  4
Введите числo:  7
Введите числo:  3
Введите числo:  9
наименьшее :  3

In [25]:
#task7
Year = int(input('Введите год: '))
if (Year % 4 == 0 and Year % 100 != 0) or (Year % 400 == 0): #формула деления без остатка
    print('Год является високосным')
else:
    print('Год не является високосным')

Введите год: 3076
Год является високосным

In [28]:
#task8
number_1 = int(input('Введите число 1: '))
number_2 = int(input('Введите число 2: '))
number_3 = int(input('Введите число 3: '))
if number_2 < number_1 < number_3 or number_3 < number_1 < number_2:
    print('Медиана: ', number_1)
elif number_3 < number_2 < number_1 or number_1 < number_2 < number_3:
     print('Медиана: ', number_2)
elif number_2 < number_3 < number_1 or number_1 < number_3 < number_3     :
     print('Медиана: ', number_3)
else:
     print('not valid')

Введите число 1: 6
Введите число 2: 2
Введите число 3: 0
Медиана:  2

In [30]:
#task9
for n in range(10):
    print('Войти в IT с Python')

Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python
Войти в IT с Python

In [32]:
#task10
n = int(input('высота прямоугольника: '))
for i in range(n):
    print('*******************')

высота прямоугольника: 8
*******************
*******************
*******************
*******************
*******************
*******************
*******************
*******************

In [37]:
#task11
input_text = 'epoche'
for i in range(10):
    print(f'{i} {input_text}')

0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

In [56]:
#task12 - Fibonacci sequence #создано с помощью подсказок Colab
n = int(input('Введите число: '))

if n <= 0:
    print('Пожалуйста, введите положительное натуральное число.')
elif n == 1:
    print(0)
else:
    a, b = 0, 1
    fib_sequence = []
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    print(' '.join(map(str, fib_sequence)))

Введите число: 1
0

In [97]:
#task13
n = int(input('Введите число до 100: '))

factorial = 1
for i in range(1, n+1):
        factorial = factorial*i
print(f"Ответ: {factorial}")

Введите число до 100: 45
Ответ: 119622220865480194561963161495657715064383733760000000000

In [6]:
#task14
print("Введите слово (для завершения введите 'стоп') ")
rev = input()
while rev != 'стоп':
      rev = (input())
print("Последовательность завершена.")

Введите слово (для завершения введите 'стоп')
первый
второй
третий
стоп
Последовательность завершена.

In [21]:
#task15
a=0
b=0
while (a:=int(input('Введите число:')))>=0:
  b=b+a
print(b)

Введите число:7
Введите число:7
Введите число:7
Введите число:-7
21

In [24]:
#task16
for i in range(1,8):
  print('*'*i)

*
**
***
****
*****
******
*******

In [56]:
#task17
def print_fio(name, surname, patronymic):
    fio_string = f"{surname[0].upper()}.{name[0].upper()}.{patronymic[0].upper()}."
    print(fio_string)

user_name = input("Введите имя: ")
user_surname = input("Введите фамилию: ")
user_patronymic = input("Введите отчество: ")
print_fio(user_name, user_surname, user_patronymic)

Введите имя: инна
Введите фамилию: стрельникова
Введите отчество: ивановна
С.И.И.

In [60]:
#task18
def func(a):
  b=0
  while (a!=0) or b==0:
    a1=(int(input('Введите число:')))
    b=(a1**2)+b
    a=a+a1
  return b
a=0
print(func(a))

Введите число:2
Введите число:2
Введите число:4
Введите число:5
Введите число:8
Введите число:-21
554

In [78]:
#task19
km = int(input('Введите километры : '))
miles = km * 0.6214
def convert_to_miles(km, miles):
    return km
print("Ответ в милях: ", miles)

Введите километры : 10
Ответ в милях:  6.2139999999999995

# Module 4 homework #3

In [83]:
#task1
n = int(input('Введите число : '))
int_ids = list(range(n))
print(int_ids)

Введите число : 6
[0, 1, 2, 3, 4, 5]

In [94]:
#task2
user_ids = [104, 217, 86, 395, 132]
print(total_users:= len(user_ids))
print(min_max_ids:=[min(user_ids),max(user_ids)])
print(ID_second_user:= user_ids[1:2])
print(last_user:=user_ids[-1:])

5
[86, 395]
[217]
[132]

In [105]:
#task3
import builtins # Импортируем builtins для доступа к оригинальной функции sum
moscow_orders = [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = builtins.sum(moscow_orders)
print(total_moscow)
total_spb = builtins.sum(spb_orders)
print(total_spb)
all_orders_desc = sorted(moscow_orders + spb_orders, reverse=True)
print(all_orders_desc)
max_single_day = builtins.max(moscow_orders + spb_orders)
print(max_single_day)
average_moscow = builtins.round(builtins.sum(moscow_orders) / len(moscow_orders))
print(average_moscow)
had_zero_moscow = 0 in moscow_orders
print(had_zero_moscow)

934
920
[395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
395
187
False

In [102]:
#task4
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]
events.insert(0,important_sections[0])
events.append(important_sections[1],)
events.remove('Профиль')
print(events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

In [107]:
#task5
ratings = [5, 4, 3, 5, 5, 2, 4, 5]
count_fives = ratings.count(5)
share_of_fives = count_fives / len(ratings)
print(f'Количество оценок 5: {count_fives}')
print(f'Доля оценок 5: {share_of_fives}')

Количество оценок 5: 4
Доля оценок 5: 0.5

In [110]:
#task6
session_durations = [15, 40, 1, 25, 5]
shortest_session = min(session_durations)
session_durations.remove(shortest_session)
session_durations.sort()
session_durations.append(max(session_durations) + 10)
session_durations.insert(0, 0)
is_long_session = len(session_durations) > 5

print('Самая короткая сессия: ', shortest_session)
print('Обновленный список: ', session_durations)
print('Длинная сессия? ', is_long_session)

Самая короткая сессия:  1
Обновленный список:  [0, 5, 15, 25, 40, 50]
Длинная сессия?  True

In [111]:
#task7
n = int(input('Введите натуральное число n: '))

cubes_list = []
for i in range(n):
    num = int(input(f'Введите целое число {i+1}: '))
    cubes_list.append(num ** 3)

print('Список кубов:', cubes_list)

Введите натуральное число n: 5
Введите целое число 1: 2
Введите целое число 2: 3
Введите целое число 3: 3
Введите целое число 4: 1
Введите целое число 5: 2
Список кубов: [8, 27, 27, 1, 8]

In [112]:
#task8
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)

min_value = min(numbers)
max_value = max(numbers)
sum_min_max = min_value + max_value

print(f"Минимальное значение: {min_value}")
print(f"Максимальное значение: {max_value}")
print(f"Сумма минимального и максимального: {sum_min_max}")

Минимальное значение: 1.161
Максимальное значение: 3.1415
Сумма минимального и максимального: 4.3025

In [114]:
#task9
user_ids = ('Иванов Иван', 1985, 'СанктПетербург')
updated_user_ids = (user_ids[0], user_ids[1], 'Москва')

print(updated_user_ids)

('Иванов Иван', 1985, 'Москва')

In [115]:
#task10
courier = {
    'name': 'Иван',
    'delivered_orders': 125,
    'is_active': True
}

print(courier)

{'name': 'Иван', 'delivered_orders': 125, 'is_active': True}

In [116]:
#task11
products = {
'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'
}
for key,value in products.items():
  if value=='дом': is_home=True
  else: is_home=False
print(is_home)

False

In [117]:
#task12
products = {
'стол': 'мебель',
'диван': 'мебель',
'лампа': 'дом',
'холодильник': 'техника'
}
categories=[]
prod=[]
for key, value in products.items():
  prod.append(key)
  categories.append(value)
cat=set(categories)
categories=cat
product_number=len(prod)
print(categories)
print(product_number)

{'техника', 'дом', 'мебель'}
4

In [119]:
#task13
products = {
    'стол': 'мебель',
    'диван': 'мебель',
    'лампа': 'дом',
    'холодильник': 'техника'
}
product_names = sorted(products.keys())
first_product = product_names[0]

print(product_names)
print(first_product)

['диван', 'лампа', 'стол', 'холодильник']
диван

In [120]:
#task14
user_data = {
'orders_count': 4,
'total_spent': 6000
}
if user_data['orders_count']>=5 and user_data['total_spent']>=10000: status='Премиум'
elif user_data['orders_count']>=3 and user_data['total_spent']>=5000: status='Хороший клиент'
else: status='Обычный клиент'
print(status)

Хороший клиент

In [123]:
#task15
input_string = input('Введите строку текста: ')
unique_characters = set(input_string)
print(len(unique_characters))

Введите строку текста: kjdk
3

In [131]:
#task16
input_line = input('Введите три слова, разделенные пробелом: ')
words = input_line.split()
if len(words) == 3:
    word1 = sorted(words[0].lower())
    word2 = sorted(words[1].lower())
    word3 = sorted(words[2].lower())
    if word1 == word2 and word2 == word3:
        print('ДА')
    else:
        print('НЕТ')

Введите три слова, разделенные пробелом: true true true
ДА

In [134]:
#task17
input_string = input('Введите строку чисел, разделенных пробелами: ')
numbers_str = input_string.split()

seen_numbers = set()

for num_str in numbers_str:
    if num_str in seen_numbers:
        print('ДА')
    else:
        print('НЕТ')
        seen_numbers.add(num_str)

Введите строку чисел, разделенных пробелами:  2 2 2 2 2 1 4
НЕТ
ДА
ДА
ДА
ДА
НЕТ
НЕТ

In [136]:
#task18
n = int(input('Введите количество слов: '))

for _ in range(n):
    word = input('Введите слово: ')
    word_lower = word.lower()
    unique_chars = set(word_lower)
    print(len(unique_chars))

Введите количество слов: 2
Введите слово: Андрей
6
Введите слово: 123123
3

# Module 4 homework #4

In [138]:
#task 1
import pandas as pd
import numpy as np
data = {
'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор',
'Галина', 'Наталья', 'Игорь', 'Юлия'],
'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг',
'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да',
'да']
}
labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']
df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          75.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

In [139]:
#task 3
print(df_sotrudniki.head(3))

   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1     Алина  Аналитика          85.0                5            да
с2     Борис  Аналитика          92.0                7            да
с3  Владимир  Маркетинг          78.0                6           нет

In [140]:
#task 4
print(df_sotrudniki.loc[['с4','с5','с9'], ['сотрудник','проект_баллы']])

   сотрудник  проект_баллы
с4     Дарья           NaN
с5      Егор          88.0
с9     Игорь          82.0

In [141]:
#task 5
condition = (df_sotrudniki['выполнено_задач']>6)
print(df_sotrudniki[condition])

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с2      Борис  Аналитика          92.0                7            да
с4      Дарья  Аналитика           NaN                7            да
с7     Галина  Маркетинг          95.0                8            да
с10      Юлия  Аналитика          90.0                7            да

In [142]:
#task 6
df_sotrudniki.loc['с6','проект_баллы'] = 80
print(df_sotrudniki)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

In [143]:
#task 7
print(df_sotrudniki['выполнено_задач'].sum())

60

In [144]:
#task 8
balls = df_sotrudniki.groupby('отдел')['проект_баллы'].mean()
print([balls])

[отдел
Аналитика    86.75
Маркетинг    85.75
Name: проект_баллы, dtype: float64]

In [145]:
#task 11
from sklearn.datasets import fetch_california_housing
import pandas as pd
# Загружаем встроенный датасет
california = fetch_california_housing()
# Создаём DataFrame из признаков
df_california = pd.DataFrame(california.data, columns=california.feature_names)
print(df_california)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude
0        -122.23
1        -122.22
2        -122.24
3        -122.25
4        -122.25
...          ...
20635    -121.09
20636    -121.21
20637    -121.22
20638    -121.32
20639    -121.24

[20640 rows x 8 columns]

In [146]:
#task 12
df=pd.DataFrame(california['target'], columns=california['target_names'])
df_california=pd.concat([df_california, df], axis=1)
df_california

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [147]:
#task 13
print(df_california.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
None

In [148]:
#task 14
print(df_california.isna().sum())

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [149]:
#task 15

f_ilter = (df_california['HouseAge'] > 50) & (df_california['Population'] > 2500)
print(df_california[f_ilter])

       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude  MedHouseVal
460       37.87    -122.26      1.75000
4131      34.13    -118.20      1.93600
4440      34.08    -118.21      1.53000
5986      34.10    -117.71      2.12500
7369      33.97    -118.21      1.67600
8227      33.78    -118.20      1.62500
13034     38.69    -121.15      2.25000
15634     37.80    -122.41      2.43800
15652     37.80    -122.41      5.00001
15657     37.79    -122.41      2.75000
15659     37.79    -122.41      2.25000
15795     37.77    -122.42      3.25000
15868     37.76    -122.41      2.60300

In [ ]:
#task 16
max_medinc = df_california['MedInc'].max()
min_medinc = df_california['MedInc'].min()

print(f"Максимальное медианное значение стоимости дома: {max_medinc}")
print(f"Минимальное медианное значение стоимости дома: {min_medinc}")

Максимальное медианное значение стоимости дома: 15.0001
Минимальное медианное значение стоимости дома: 0.4999