<a href="https://colab.research.google.com/github/inessanew/sehenovuniversary/blob/main/homework_4_innaS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Hello, World')

Hello, World

In [ ]:
print ('4 8 15 16 23 42 C')

4 8 15 16 23 42 C

День 1: 1 пользователь
День 2: 2 пользователей
День 3: 3 пользователей
День 4: 4 пользователей
День 5: 5 пользователей
День 6: 6 пользователей
День 7: 7 пользователей

In [ ]:
print ('Отчёт о доходах')
print ('1 квартал: 1200000 руб.')
print ('2 квартал: 1350000 руб.')
print ('3 квартал: 1280000 руб.')
print ('4 квартал: 1420000 руб.')

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
name_new = ("Влад")
print("Добро пожаловать в команду,", name_new)

Добро пожаловать в команду, Влад

Задание 6

In [ ]:
company = "Praktika"
print(company, "— лидер рынка!")

Praktika — лидер рынка!

Задание 7

In [ ]:
name_sales = input ()
N_k = input
N_s = input
name_sales = "Sales Q1"
N_k = 1000
N_s = 8
print(name_sales)
print(N_k)
print(N_s)

Sales Q1
1000
8

Задание 8

In [ ]:
File_1 = input ()
File_2 = input
File_3 = input
File_1 = "Продажи за январь"
File_2 = "Продажи за февраль"
File_3 = "Продажи за март"
print (File_3)
print (File_2)
print (File_1)

Продажи за март
Продажи за февраль
Продажи за январь

Задание 9

In [ ]:
base_price = 100
growth_persent = 20
new_price = base_price * (1 + growth_persent / 100)
delta = new_price - base_price
print ('new_price=', new_price)
print ('delta=', delta)

new_price= 120.0
delta= 20.0

Задание 10

In [ ]:
print("Северный", end="***")
print("Центральный", end="***")
print("Южный")

Северный***Центральный***Южный

Задание 11

In [ ]:
name_new = input()
name_new = "Влад"
print("Подключение установлено. Добро пожаловать,", end=" ")
print(name_new)

Подключение установлено. Добро пожаловать, Влад

Задание 12

In [ ]:
r = input()
produkt_name_1 = input()
produkt_name_2 = input()
produkt_name_3 = input()
r = " | "
print(produkt_name_1, produkt_name_2, produkt_name_3, sep=r)

Молоко
Хлеб
Сыр
Молоко | Хлеб | Сыр

Задание 13

In [ ]:
value_str = input()
value_str = "42.7"
a=float(value_str)
print("integer_part=", int(a))

integer_part= 42

Задание 14

In [ ]:
orders_yesterday = int(input())
plan = int(input())
# orders_yesterday = 10
# plan = 20
a = abs(plan-orders_yesterday)
print("Абсолютное отклонение от плана равняется", a)

20
10
Абсолютное отклонение от плана равняется 10

Задание 15

In [ ]:
for i in range(5):
  print(i)
if 1 == i:
  print("Наименьшее число =", i)
elif i == 5:
  print("Наибольшее число =", i)

0
1
2
3
4

Задание 16

In [ ]:
nm = input
nmf = input
nm = "Антон"
nmf = "Иванов"
print ("Привет,", nm + " "+ nmf+"! " "Вы только что начали изучать Python!")

Привет, Антон Иванов! Вы только что начали изучать Python

In [1]:
#theme 16
nm = input
nmf = input
nm = "Антон"
nmf = "Иванов"
print ("Привет,", nm + " "+ nmf+"! " "Вы только что начали изучать Python!")

Привет, Антон Иванов! Вы только что начали изучать Python!

In [2]:
#theme 17
part_1 = input
part_2 = input
part_3 = input
part_1, part_2, part_3 = '"Каждый в этой стране должен', 'научиться программировать,', 'потому что это учит думать."'
print(part_1+" "+ part_2 +" "+ part_3)

"Каждый в этой стране должен научиться программировать, потому что это учит думать."

In [3]:
#theme18
bag = (input)
bag = 999
print( bag > 1000)

False

In [4]:
#theme18
bag = int(input()) #999
print( bag > 1000)

999
False

In [5]:
#them19
ages = int(input('Введите ваш возраст:  '))
print( ages >= 18)

Введите ваш возраст:  16
False

In [6]:
#them 20
V1 = 50
V2 = 70
S = 500
t = S/(V1+V2)
print(t)

4.166666666666667

In [7]:
#them21
a = input
b = input
a = 443 #Длина первого катета
b = 390 #Длина второго катета
S = a*b/2
print(S)

86385.0

In [8]:
#them 22
tF = float(input()) #450.55
tC = 5/9*(tF-32)
print(tC)

450.55
232.5277777777778

In [9]:
#them23
revenue = float(input()) #438746.78
courier_name = input('Имя курьера - ') #Антон
bonus = int(revenue/100)
print('Курьер', courier_name, 'получит бонус', bonus )

438746.78
Имя курьера - Антон
Курьер Антон получит бонус 4387